.BattleModal-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.BattleModal-modal {
  width: 55em!important;
}

.BattleModal-versus {
  width: 5em;
  height: 5em;
  align-self: center;
}

.BattleModal-rater {
  padding-top: 1em;
  label {
    font-family: inherit;
  }
}
